.navContainer {
  --show-transition: 0.15s all ease-in-out;
}

.topMenuItem,
.activeNavLink {
  font-weight: 500;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 64px;
  box-sizing: border-box;
  text-align: center;
  transition: var(--show-transition);
}

/* Show this after user hover */
.topMenuItem span,
.activeNavLink span {
  display: inline-block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 50%;
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--show-transition);
  opacity: 0;
}

/* Normally show this, before user hover */
.overlayText {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 31%;
  /* color: var(--on-primary); */
  /* text-transform: uppercase; */
  transition: 0.3s all ease-in-out;
  opacity: 1;
}

.overlayText:hover {
  opacity: 0;
  /* left: 80%; */
}

.topMenuItem:link,
.topMenuItem:visited {
  /* background-color: inherit; */
  /* color: var(--on-primary); */
}

.topMenuItem:hover {
  /* background-color: var(--primary-light) */
}

.topMenuItem:hover span {
  opacity: 1;
  /* when mouse over, the icon will show and move down to the bottom of the menu item */
  bottom: 26%;
}

.topMenuItem:hover div {
  opacity: 0;
  /* when user mouse over the menu item, the text downs position */
  bottom: 12%;
}

.activeNavLink {
  /* background-color: var(--secondary-light); */
}

/* selected icon */
.activeNavLink span {
  opacity: 1;
  bottom: 35.5%;
}

.activeNavLink div {
  opacity: 0;
  bottom: 50%;
}

.activeNavLink:hover {
  /* color: var(--secondary-dark); */
}
