.button_bubble {
  transition: all 0.3s ease 0s;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.button_bubble:hover::before {
  --bubble-outline-color: #fff;
  content: '';
  pointer-events: none;
  opacity: 0.8;
  background: radial-gradient(circle at 20% 35%,
      transparent 0,
      transparent 2px,
      var(--background) 3px,
      var(--background) 4px,
      transparent 4px),
    radial-gradient(circle at 75% 44%,
      transparent 0,
      transparent 2px,
      var(--background) 3px,
      var(--background) 4px,
      transparent 4px),
    radial-gradient(circle at 46% 52%,
      transparent 0,
      transparent 4px,
      var(--background) 5px,
      var(--background) 6px,
      transparent 6px);
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s ease-in-out infinite both;
}

@keyframes bubbles {
  from {
    transform: translate(0, 10%);
  }
  to {
    transform: translate(0, -66.666%);
  }
}