@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

:root {
  --primary-dark: #eb9a04;
  --primary-medium: #ffd803;
  --primary-light: #ffcc66;

  --secondary-dark: #bae8e8;
  --secondary-medium: #e3f6f5;
  --secondary-light: #eff8f8;

  --background: #fffffe;
  --surface:  #f5f5f4;
  --warning: #FFCC00;
  --error: #ff0000;

  --on-primary: #272343;
  --on-secondary: #2d334a;
  --on-background: #2d334a;
  --on-surface: #fff;
  --on-warning: #000;
  --on-error: #fffffe;
}

[data-theme='dark'] {
  /* --primary-dark: theme('colors.gray.700');
  --primary-medium: theme('colors.gray.500');
  --primary-light: theme('colors.gray.200');

  --secondary-dark: theme('colors.fuchsia.900');
  --secondary-medium: theme('colors.fuchsia.700');
  --secondary-light: theme('colors.fuchsia.500'); */

  --background: #303030;
  --surface: #303030;
  /* --error: theme('colors.red.300'); */

  --on-primary: #fff;
  --on-secondary: #2d334a;
  --on-background: #fff;
  --on-surface: #fff;
}

[data-theme="emerald"] {
  --primary-dark: #af0c0c;
  --primary-medium: #ff4d5b;
  --primary-light: #ff8686;
  
  --secondary-dark: #7f8d00;
  --secondary-medium: #84ec2e;
  --secondary-light: #adffa6;

  --background: #fffffe;
  --surface:  #f5f5f4;
  --error: #ff0000;

  --on-primary: #fde8ec;
  --on-secondary: #2d334a;
  --on-background: #2d334a;
  --on-surface: #fff;
  --on-error: #fffffe;
}

[data-theme="pink"] {
  --primary-dark: #ff01ff;
  --primary-medium: #da09da;
  --primary-light: #6f0579;
  
  --secondary-dark: #8f5e02;
  --secondary-medium: #ec9b21;
  --secondary-light: #fff23c;

  --background: #fffffe;
  --surface:  #f5f5f4;
  --error: #ff0000;

  --on-primary: #fde8ec;
  --on-secondary: #2d334a;
  --on-background: #2d334a;
  --on-surface: #fff;
  --on-error: #fffffe;
}

::selection {
  background-color: var(--primary-dark);
  color: var(--on-primary);
}
/* Your own custom utilities */

html,
body {
  /* color: #2d334a */
}

/* #__next {
  height: 100%;
} */
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@layer base {
  h1 {
    /* @apply text-2xl; */
    /* background: linear-gradient(#efc854, #efc854) no-repeat;
    background-size: 100% 15%;
    background-position: 0 70%; */
  }

  h2 {
    @apply text-xl;
  }
}