.headline {
  display: inline-block;
  position: relative;
  background: linear-gradient(
    to bottom,
    transparent 0,transparent 55%,
    var(--secondary-medium) 55%,
    var(--secondary-medium) 100%);
}

.headline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1%;
    height: 12%;
    width: 90%;
    background: linear-gradient(
      to right,
      var(--primary-medium) 0,
      var(--primary-medium) 25%,
      #fff 25%,#fff 35%,
      var(--primary-medium) 35%,
      var(--primary-medium) 100%
    );
}

.headline::after {
  content: '.';
}