.navContainer {
  --show-transition: 0.1s all ease-in-out;
}

.navContainer>* {
  border-color: #ccc;
  border-style: solid;
  border-width: 0 0 0 1px;
}

.navContainer>*:last-child {
  border-width: 0 1px 0;
}

.topMenuItem,
.activeNavLink {
  font-weight: bold;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 186px;
  box-sizing: border-box;
  text-align: center;
  transition: var(--show-transition);
}

/* Show this after user hover */
.topMenuItem span,
.activeNavLink span {
  display: inline-block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 50%;
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--show-transition);
  opacity: 0;
}

/* Normally show this, before user hover */
.overlayText {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 50%;
  /* color: var(--on-primary); */
  color: #666666;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
  opacity: 1;
}

.overlayText:hover {
  opacity: 0;
  /* left: 80%; */
}

.topMenuItem:link,
.topMenuItem:visited {
  background-color: inherit;
  color: var(--on-primary);
}

.topMenuItem:hover {
  background-color: var(--primary-light)
}

/* when mouse over, the text will show and move down to the button of the menu item */
.topMenuItem:hover span {
  opacity: 1;
  bottom: 17.7%;
}

.topMenuItem:hover div {
  opacity: 0;
  bottom: 17.7%;
}

.activeNavLink {
  background-color: var(--secondary-light);
}

.activeNavLink span {
  opacity: 1;
  bottom: 17.7%;
}

.activeNavLink div {
  opacity: 0;
  bottom: 50%;
}

.activeNavLink:hover {
  content: 'data ';
  background-color: var(--secondary-light);
  color: aliceblue;
}