.markdown {
  /* @apply leading-relaxed; */
  color: var(--on-background);
}

.markdown p {
@apply mb-4;
}

.markdown blockquote {
  @apply mb-2 ml-0;
}

.markdown a {
  color:var(--primary-dark)
}

.markdown ol,
.markdown ul {
  @apply ml-6 mb-4;
  list-style: auto;
}
.mardown li {
  
}

/* headings */
/* synced with typography configuration */

.markdown h1 {
  @apply text-[2.85rem] md:text-[2.85rem] font-bold mt-3 mb-3 tracking-tight;
}

.markdown h2 {
  @apply text-[1.5rem] md:text-[1.85rem] font-bold mt-3 mb-3 tracking-tight;
}

.markdown h3 {
  @apply text-[1.35rem] md:text-[1.5rem] font-bold tracking-tight mt-3 mb-3;
}

.markdown h4 {
  @apply text-base font-bold leading-tight mt-2 mb-2 tracking-tight;
}

/* coding block */

.markdown pre {
  @apply whitespace-pre overflow-x-auto p-4 text-sm leading-tight border border-gray-400 bg-surface mb-4 rounded-md;

}

.markdown pre>code {
  @apply p-0 border-0
}

/* inline code */
.markdown code {
  @apply text-sm bg-surface border p-1 rounded; 
}

.markdown figcaption {
  @apply text-center text-sm;
}

.markdown blockquote {
  @apply border-l-4 border-secondary-dark bg-surface italic ml-0 py-4 px-6;
}

.markdown blockquote p {
  @apply mt-0;
}

.markdown blockquote cite {
  @apply not-italic;
}

.markdown audio {
  @apply w-full;
}
