.markdown {
  /* @apply leading-relaxed; */
  color: var(--on-background);
}

.markdown p {
  @apply mb-4;
}

.markdown blockquote {
  @apply mb-2 ml-0;
}

.markdown a {
  color: var(--primary-dark);
}

/* list styles */

.markdown ol {
  @apply mb-4 ml-6;
  list-style: decimal;
}
.markdown ul {
  @apply mb-4 ml-6;
  list-style: disc;
}

/* headings */
/* synced with typography configuration */

.markdown h1 {
  @apply mb-3 mt-3 text-[2.85rem] font-bold tracking-tight md:text-[2.85rem];
}

.markdown h2 {
  @apply mb-3 mt-3 text-[1.5rem] font-bold tracking-tight md:text-[1.85rem];
}

.markdown h3 {
  @apply mb-3 mt-3 text-[1.35rem] font-bold tracking-tight md:text-[1.5rem];
}

.markdown h4 {
  @apply mb-2 mt-2 text-base font-bold leading-tight tracking-tight;
}

/* coding block */

.markdown pre {
  @apply mb-4 overflow-x-auto whitespace-pre rounded-md border border-gray-400 bg-surface p-4 text-sm leading-tight;
}

.markdown pre > code {
  @apply border-0 p-0;
}

/* inline code */
.markdown code {
  @apply rounded border bg-surface p-1 text-sm;
}

.markdown figcaption {
  @apply text-center text-sm;
}

.markdown blockquote {
  @apply ml-0 border-l-4 border-secondary-dark bg-surface px-6 py-4 italic;
}

.markdown blockquote p {
  @apply mt-0;
}

.markdown blockquote cite {
  @apply not-italic;
}

.markdown audio {
  @apply w-full;
}
