@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

:root {
  --primary-dark: #eb9a04;
  --primary: #ffd803;
  --primary-light: #ffcc66;

  --secondary-dark: #bae8e8;
  --secondary: #e3f6f5;
  --secondary-light: #eff8f8;

  --background: #fffffe;
  --surface: #f5f5f4;
  --warning: #ffcc00;
  --error: #ff0000;

  --on-primary: #272343;
  --on-secondary: #2d334a;
  --on-background: #4e5064;
  --on-surface: #fff;
  --on-warning: #000;
  --on-error: #fffffe;
  --border: #f0f0f0;
}

[data-theme='dark'] {
  --background: #303030;
  --surface: #4a4a4a;

  --on-primary: #fff;
  --on-secondary: #2d334a;
  --on-background: #fff;
  --on-surface: #fff;
  --border: #4b4b4b;
}

[data-theme='emerald'] {
  --primary-dark: #af0c0c;
  --primary: #ff4d5b;
  --primary-light: #ff8686;

  --secondary-dark: #7f8d00;
  --secondary: #84ec2e;
  --secondary-light: #adffa6;

  --background: #fffffe;
  --surface: #f5f5f4;
  --error: #ff0000;

  --on-primary: #fde8ec;
  --on-secondary: #2d334a;
  --on-background: #2d334a;
  --on-surface: #fff;
  --on-error: #fffffe;
}

[data-theme='pink'] {
  --primary-dark: #ff01ff;
  --primary: #da09da;
  --primary-light: #6f0579;

  --secondary-dark: #8f5e02;
  --secondary: #ec9b21;
  --secondary-light: #fff23c;

  --background: #fffffe;
  --surface: #f5f5f4;
  --error: #ff0000;

  --on-primary: #fde8ec;
  --on-secondary: #2d334a;
  --on-background: #2d334a;
  --on-surface: #fff;
  --on-error: #fffffe;
}

::selection {
  background-color: var(--primary-dark);
  color: var(--on-primary);
}

/* Your own custom utilities */
