@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 38 0% 95%;
  --foreground: 38 0% 7%;
  --card: 38 0% 90%;
  --card-foreground: 38 0% 10%;
  --popover: 38 0% 95%;
  --popover-foreground: 38 95% 7%;
  --primary: 38 100% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 38 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 10% 85%;
  --muted-foreground: 38 0% 35%;
  --accent: 0 10% 80%;
  --accent-foreground: 38 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 38 0% 90%;
  --border: 38 20% 50%;
  --input: 38 20% 18%;
  --ring: 38 100% 49%;
  --radius: 0.3rem;
}
.dark {
  --background: 38 10% 7%;
  --foreground: 38 0% 90%;
  --card: 38 0% 7%;
  --card-foreground: 38 0% 90%;
  --popover: 38 10% 5%;
  --popover-foreground: 38 0% 90%;
  --primary: 38 100% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 38 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 10% 15%;
  --muted-foreground: 38 0% 60%;
  --accent: 0 10% 15%;
  --accent-foreground: 38 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 38 0% 90%;
  --border: 38 20% 18%;
  --input: 38 20% 18%;
  --ring: 38 100% 49%;
  --radius: 0.3rem;
}

/* @layer base {
  body {
    @apply bg-background text-foreground
  }
} */
